body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  margin-top: 100px;
  font-size: 16px;
  font-weight: 300;
  color: #3d455c;
  background: #e9ebee;
}

a {
  color: #000;
}

/* header start ------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #212631;
  z-index: 10000;
  height: 100px;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.header h1 a {
  color: #fff;
  text-decoration: none;
}

.header h1,
.header nav a {
  line-height: 100px;
}

.header h1 {
  letter-spacing: 4px;
  font-size: 2.5rem;
  margin: 0;
  float: left;
}

.header nav {
  float: right;
}

.header nav a {
  color: #aaa;
  text-decoration: none;
  font-weight: 700;
  margin: 0 0 0 20px;
  font-size: 1rem;
}

.header nav a:hover {
  color: #fff;
}

/* Transitions and class for reduced height */
.header h1,
.header nav a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.header.header-shrink {
  height: 70px;
}

.header.header-shrink h1,
.header.header-shrink nav a {
  line-height: 70px;
}

.header.header-shrink h1 {
  font-size: 1.5rem;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
  .header .inner {
    width: 100%;
  }

  .header h1,
  .header nav {
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none;
  }

  .header h1,
  .header nav a {
    line-height: 115px;
  }

  .header nav a {
    margin: 0 10px;
  }

  .header.header-shrink h1,
  .header.header-shrink nav a {
    line-height: 45px;
  }

  .header.header-shrink h1 {
    font-size: 1.25em;
  }

  .header.header-shrink nav a {
    font-size: 1em;
  }
}

@media screen and (max-width: 32.25em) {
  .header nav a {
    font-size: 1em;
  }
}

@media screen and (max-width: 24em) {

  .header nav a,
  .header.header-shrink nav a {
    line-height: 1;
  }
}

/* end of header ------------------------------------------- */

section.featured-posts {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

a.post-image img {
  width: 100%;
}

.post-body {
  background: #fff;
}

.post .post-body {
  padding: 1.5rem;
}

.post .post-meta {
  margin-bottom: 1rem;
}

.post-title a {
  text-decoration: none;
}

.post.post-row {
  position: relative;
}

.post.post-row .col-md-4 {
  padding: 0;
}

.post.post-row .post-image {
  position: absolute;
  width: 40%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.post.post-row .post-body {
  padding-left: calc(40% + 1.5rem);
}

.post-row {
  margin-bottom: 40px;
}

.post-meta .post-category {
  font-size: 13px;
  text-transform: uppercase;
  padding: 3px 10px;
  font-weight: 600;
  border-radius: 2px;
  margin-right: 15px;
  color: #fff;
  background-color: #212631;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
  text-decoration: none;
}

.read-more a {
  font-weight: 500;
}

.single-post {
  padding: 2rem;
  background-color: #fff;
}

.single-post .post-content {
  margin-top: 3.5rem;
}

.single-post-page {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer {
  padding: 3rem;
  text-align: center;
}

/* ----------------------------------------------- */

.sidebar-widget {
  background: #fff;
  padding: 1.5rem;
}

.widget-body {
  margin-top: 2rem;
}

.category-widget ul,
.menubar-widget ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category-widget ul li,
.menubar-widget ul li {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #fceef2;
}

.menubar-widget ul li {
  border-bottom: none;
}

.category-widget ul li:last-child,
.menubar-widget ul li:last-child {
  border-color: transparent;
}

.category-widget ul li a,
.menubar-widget ul li a {
  text-decoration: none;
  font-weight: 400;
  display: block;
  padding: 5px 0;
}

.menubar-widget ul li:last-child a {
  padding-bottom: 0;
}

.category-widget ul li>a>span {
  float: right;
  color: #fff;
  background-color: #212631;
  padding: 0 5px;
  font-weight: 600;
  border-radius: 2px;
}

.menubar-widget ul li ul {
  padding-left: 2rem;
}
